h1 {
    color: #f00;
    color: rgb(0, 255, 201);
    color: hsl(120, 100%, 50%);
    /* opacity: 0.5; */
    color: rgba(255, 200, 100, 0.75);
}



p {
    display: block;
    /* display: inline; */
    /* display: none; */
    /* opacity: 0; */
}

a {
    /* display: inline; */
    /* display: block; */
    display: inline-block;
}